.carousel-container {
  border-radius: 8px;
  overflow: hidden;
  overflow-x: hidden;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
}

.slide-item {
  position: relative;
  height: 60vh;
  color: white;
  display: block;
  text-decoration: none;
}

.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(1.0);
  transition: transform 0.3s ease;
}

.slide-item:hover .slide-background {
    transform: scale(1.05);
}

.slide-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

/* Customizing react-slick dots */
.slick-dots li button:before {
  font-size: 12px;
  color: white !important;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}

/* --- Mobile Responsiveness --- */
@media (max-width: 768px) {
  .carousel-container {
    border-radius: 12px;
    margin: 0 16px; /* Add some horizontal margin on mobile */
  }

  .slide-item {
    height: 35vh; /* Smaller height for mobile */
  }

  .slide-content {
    padding: 1rem;
    max-width: 90%;
  }

  .slide-content .MuiTypography-h2 {
    font-size: 1.7rem !important; /* Smaller headline */
  }

  .slide-content .MuiTypography-h5 {
    font-size: 0.9rem !important; /* Smaller caption */
  }
}